/architect/node_modules/
/architect/package-lock.json
/architect/.editorconfig

/band/node_modules/
/band/package-lock.json
/band/.editorconfig

/gourmet-catering/node_modules/
/gourmet-catering/package-lock.json
/gourmet-catering/.editorconfig

/parallax/node_modules/
/parallax/package-lock.json
/parallax/.editorconfig

/blog/node_modules/
/blog/package-lock.json
/blog/.editorconfig

/food-blog/node_modules/
/food-blog/package-lock.json
/food-blog/.editorconfig
